.gi-xlab-panel {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 8px 16px;
  max-width: 50%;
  overflow-y: scroll;
  .gi-xlab-panel-detail-wrapper {
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;
    .gi-xlab-panel-detail-multi {
      &:hover {
        border: 1px solid var(--text-color-2);
        border-radius: 6px;
      }
    }
    .gi-xlab-panel-detail-multi {
      max-width: 250px;
      min-width: 150px;
    }
    .gi-xlab-panel-detail-one {
      width: 100%;
      border: 1px solid var(--background-color);
      border-right: 1px solid var(--border-color);
      padding: 0 6px;
      .gi-xlab-panel-detail-properties-wrapper {
        max-height: 200px;
        overflow-y: scroll;
      }
      .gi-xlab-panel-detail-item {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 10px;
        margin-bottom: 4px;
        .gi-xlab-panel-detail-title {
          font-size: 20px;
          font-weight: 700;
          line-height: 16px;
          font-size: 14px;
        }
        .gi-xlab-panel-detail-title-disabled {
          color: var(--text-color);
          cursor: not-allowed;
          text-decoration: none;
          pointer-events: none;
        }
        .gi-xlab-panel-detail-color-dot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: inline-flex;
          margin-right: 4px;
          transform: translateY(1px);
        }
      }
    }
    > :last-child {
      border-right: none;
    }
  }
  .gi-xlab-panel-chart-wrapper {
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid var(--border-color);
    .gi-xlab-panel-chart-container {
      margin-bottom: 16px;
      .gi-xlab-panel-chart-title {
        margin-bottom: 0;
      }
      .gi-xlab-panel-chart {
        height: 130px;
        width: 100%;
      }
    }
  }
  .gi-xlab-panel-overview-wrapper {
    width: 100%;
    text-align: center;
    .gi-xlab-panel-empty {
      color: rgba(0, 0, 0, 0.25);
      margin-top: 20%;
      margin-left: 16px;
      margin-right: 16px;
    }
    .gi-xlab-panel-overview-divider {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .gi-xlab-panel-overview-chart {
      height: 220px;
      width: 100%;
    }
  }
}
